$theme-colors: (
        "primary":    #0E5863,
        "secondary":  #A3A5AA,
        "success":   #090C9B,
        "info":      #8884FF, //Darker option: #5D576B
        "warning":   #C5D86D, //Orange option:#E26D5A
        "danger":    #9E0031,
        "light":      #DFD9E2,
        "dark":       #160C28, //Light option: #330036, Blue option: #0D1321
);

$black: #000;

$hr-border-color: rgba($black, .25);

p {
  padding: 0 .25rem;
}

body {
  min-height: 100vh;
}

@import "../node_modules/bootstrap/scss/bootstrap";

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 0.85rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 0.95rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1rem;
  }
}

.lead {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  .lead {
    font-size: 1.5rem;
  }
}

@include media-breakpoint-up(md) {
  .lead {
    font-size: 1.13rem;
  }
}

@include media-breakpoint-up(lg) {
  .lead {
    font-size: 1.25rem;
  }
}
